	
	.header{
		color : #fff;
		background-color: #008AE8;
	}
	.header .left_btn span {
		color:#ffffff;
	}
	.header .right_btn span {
		color:#ffffff;
	}
	#create_club {
		width: 95%; 
		margin:0px auto; 
		padding-top: 20px;
		font-family: "NanumSquareR";
	}
	#create_club img {
		width: 30px;
		height: 30px;
	}
	#create_club .image_td {
		width: 13%;
		text-align: right;
		padding-right: 10px;
	}
	#create_club .wrap_location_div, .wrap_category_div, .wrap_target_div {
		height:55px;
		background-color: white;
	}
	#create_club .wrap_field_div {
		height: 55px;
	}
	#create_club .wrap_write_div {
		height: 156px;
	}
	#create_club .location_div, .field_div, .category_div, .target_div {
		background-color: #f1f1f1;
		height: 50px;
		text-align: left;
	}
	#create_club .write_div {
		background-color: #f1f1f1;
		height: 150px;
		text-align: left;}
	#create_club table {
		width: 95%;
		border : 1px;
		border-color: #f1f1f1;
	}
	#create_club .etc_tb {
		width: 100%;
	}
	#create_club .etc_tr {
		height: 40px;
	}
	#create_club .etc_tr2 input {
		width: 150px;
		border:1px solid #eeeeee;
		color:#999999;
		text-align: center;
		font-size: 1.2em;
	}
	#create_club .etc_td {
		font-size: 14px;
		padding-left: 10px;
	}
	#create_club #etc_notice {
		font-size: 10px;
		color: black;
		opacity: 0.54;
		padding-left: 10px;
	}
	#create_club #club_name{
		background-color:transparent;
		border:none;
		color:#797979;
		font-size:14px;
		width:100%;
	}
	#create_club #club_name:focus{
		outline:none;
	}
	#create_club #club_introduce{
		height:80px;
		width:100%;
		font-size:12px;
		border:none;
		background-color:#f1f1f1;
		resize:none;
	}
	#create_club #club_introduce:focus{
		outline:none;
	}
	#create_club .dropdown_list{
		display:none;
		position:absolute;
		right:2.5%;
		border:1px solid #999999;
	}
	#create_club .dropdown_unit{
		background-color:#ffffff;
		padding:5px;
		padding-left:20px;
		padding-right:20px;
		z-index: 9999;
		position: relative;
	}
	#create_club .member_num{
		background-color:transparent;
		border:1px solid #eeeeee;
		color:#999999;
		font-size:16px;
		width:30%;
		text-align:center;
	}
	#create_club .member_num:focus{
		outline:none;
	}
	#create_club .etc_div .foundationDate_div{
		color: #9b9b9b;
		font-size: 16px;
	}
	
	#create_club .etc_div .foundationDate_div .found_sel {
		width:50px;
		height: 40px;
		border: 0px;
		-webkit-appearance : none;
		-moz-appearance : none;
		appearance : none;
		background-color: transparent;
		background-image: url("../images/icon_selectbox_arrow.png");
		background-repeat: no-repeat;
		background-position: right;
		background-size: 10px 10px;
		direction: ltr;
		vertical-align: middle;
		margin-left: 3px;
	}
	
	#create_club .etc_div .foundationDate_div #selYear{
		display: inline-block;
	}
	
	#create_club .etc_div .foundationDate_div #selMonth{
		display: inline-block;
	}
	
	#create_club .etc_div .vertical_line {
		height: 15px;
		width: 0px;
		line-height: 40px;
		border-left: 1px solid #e3e3e3;
		display: inline-block;
		position: relative;
		top: 4px;
	}
	
	#create_club .create_btn_div {
		height: 100px;
		display: table-cell;
		vertical-align: middle;
	}
	#create_club .line{
		width:100%;
		height:1.2px;
		background:#dddddd;
	}
	#create_club .create_btn {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 50px;
		width: 450px;
		background-color: #008ae8;
		font-size: 17px;
		color: white;
		border-radius: 5px;
	}
	#location_select {
		font-family:'NanumSquareR';
		position:absolute;
		display:none;
		z-index:1000;
		width:100%;
		height:100%;
		background-color:#ffffff;
	}
	#location_select .SI_btn_wrapper{
		width:100%;
		background-color:#ffffff;
		height:50px;
	}
	#location_select .SI_btn_wrapper .SI_btn{
		float: left;
		line-height: 50px;
		margin-left:10px;
		font-size: 13px;
	}
	#location_select .line{
		width:100%;
		height:1.2px;
		background:#dddddd;
	}
	#location_select .SI_btn_wrapper .next_btn {
		display: inline-block;
		float: right;
		padding-right: 10px;
		padding-top: 15px;
	}
	#location_select .SI_btn_wrapper .arrow{
		height: 20px;
		width: 20px;
		display: inline-block;
	}
	#location_detail_select {
		font-family:"NanumSquareR";
		position:absolute;
		display:none;
		z-index:2000;
		width:100%;
		height:100%;
		background-color:#ffffff;
	}
	#location_detail_select .GU_info{
		height: 45px;
		color: #008AE8;
		font-size: 13px;
		text-align: center;
		padding-top: 15px;
	}
	#location_detail_select .GU_btn_wrapper{
		margin-right:-1%;
		
	}
	#location_detail_select .GU_btn{
		width:33%;
		height:45px;
		line-height:45px;
		float:left;
		border:1px solid #eeeeee;
		color: black;
		vertical-align: middle;
	}
	#location_detail_select .GU_btn .GU_img_container {
		display: initial;
	}
	#location_detail_select .GU_btn .GU_span_container {
		display: initial;
	}
	
	#location_detail_select .GU_btn .서울특별시 .GU_btn_span{
		font-size: 13px;
		
	}
	#location_detail_select .GU_btn_span{
		font-size: 11px;
		word-break : keep-all;
	}
	#location_detail_select .checkbox{
		display:initial;
		position:initial;
		width:30px;
		height:30px;
		margin:7px;
		float: left;
		margin-left: 15%;
	}
	#field_select {
		font-family:"NanumSquareR";
		position:absolute;
		display:none;
		z-index:2000;
		width:100%;
		height:100%;
	}
	#field_select .field_group_wrapper{
		padding-top:5px;
		padding-bottom:5px;
		background-color:#ffffff;
	}
	#field_select .line{
		width:100%;
		height:1.2px;
		background:#dddddd;
	}
	#field_select .field_group_icon{
		width:100%;
		padding: 10px;
		padding-left: 15px;
	}
	#field_select .field_group_icon_img{
		width:30px;
		height:30px;
		margin-right: 20px;
	}
	#field_select .field_group_name{
		font-size: 15px;
	}
	
	#field_select .field_group_list{
		display:inline-block;
		padding-left: 18%;
		background-color: white;
	}
	#field_select .field_unit {
		float:left;
		border: 1px solid #008ae8;
		padding-top:5px;
		padding-bottom:5px;
		margin-bottom: 10px;
		margin-right: 10px;
		border-radius: 50px;
		text-align: center;
	}
	#field_select .field_unit_span {
		padding-top:11px;
		padding-bottom:11px;
		padding-left:17px;
		padding-right:17px;
		border-radius: 50px;
		margin-bottom:10px;
		color:#008ae8;
		line-height: 26px;
		font-size: 13px;
	}